.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 1;
  /* background-color: transparent; */
}
.nav .logo-div img {
  width: 140px;
  margin: 20px;
}
.sign-indiv ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sign-indiv ul li {
  margin: 10px;
}

.sign-indiv ul li select,
button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  color: white;
  letter-spacing: 1px;
}
.sign-indiv ul li button {
  background-color: red;

  border: none;
  font-size: 18px;
  border-radius: 3px;
}
